<div class="shadow col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
    <div style="height:80px; width:100%; clear:both;"></div>
    <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
          <a href="#settings" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <span class="ms-1 d-none d-sm-inline">Generate a Route</span> </a>
          <ul class="collapse show nav flex-column ms-1" id="settings" data-bs-parent="#menu">
              {% block settings%}
              {% endblock %}
          </ul>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link px-0 align-middle">
              <span class="ms-1 d-none d-sm-inline">Log a Challenge</span> </a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Ask Charlie" aria-label="Ask Charlie">
      <button class="btn btn-outline-success" type="submit">Ask</button>
    </form>
    <hr>
  </div>
</div>